@import "./media.css";
@import "./colors.css";
@import "./typography.css";
@import "./mixins.css";

:root {
    --button-vertical-spacing: 4px;
    --button-horizontal-spacing: 8px;
}

.button-label {
@mixin smoothing;
    font-family: var(--font-family-special);
    font-size: 16px;
    text-transform: uppercase;
}

.button {
    composes: button-label;
    width: 100%;
    box-sizing: border-box;
    margin: var(--button-vertical-spacing) 0;
    border: none;
    line-height: 40px;
    text-align: center;
    -webkit-tap-highlight-color: var(--color-transparent-black);
    white-space: nowrap;
    border-radius: 0;
    transition: background-color 0.2s, color 0.2s;

&:last-child {
     margin-bottom: 0;
 }

@media (--breakpoint-up-2) {
    margin: 0 var(--button-horizontal-spacing) 0 0;

&:last-child {
     margin-right: 0;
 }
}
}

.button-secondary {
    composes: button;
    color: var(--color-white);
    background-color: var(--color-tarmac-light-80);

&:focus {
     outline: 5px auto var(--focus-chrome-primary);
     outline-offset: -2px;
 }
}

:global(body.is-not-touch) .button-secondary:hover {
    background-color: var(--color-tarmac-light-85);
}

.button-primary {
    composes: button;
    color: var(--color-black);
    background-color: var(--color-neon-yellow);

&:focus {
     outline: 5px auto var(--focus-chrome-primary);
     outline-offset: -2px;
 }
}

:global(body.is-not-touch) .button-primary:hover {
    background-color: var(--color-yellow-rio-grande);
}

.button-large {
    line-height: 57px;
}

.button-with-chevron {
    composes: button-primary;

&::after {
     top: -1px;
     position: relative;
     width: 7px;
     height: 7px;
     display: inline-block;
     border-width: 2px 2px 0 0;
     border-color: var(--color-black);
     border-style: solid;
     transform: rotate(45deg);
     margin-left: 7px;
     content: "";
 }
}
